body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  @include cds-u-typeset("body-copy");
  @include u-color-text("gray-900");
}

a {
  text-decoration: none;
  @include u-color-text("text",null, "link");
}