//Seems to need this to have correct padding
//TODO refactor to use design tokens
// .form-control {
//   padding: 6px 12px;
// }

.input-field-v2 {
  .outline {
    position: relative;

    textarea {
      &.form-control {
        height: 100px;
        resize: none;
      }
    }
  }

  .input-outline {
    height: 40px;
    transition: all 0.3s;
    outline: 0;
    box-shadow: none;
    border: 1px solid get-color("gray-600");
    border-radius: 3px;
    box-sizing: border-box;

    .disabled {
      background-color: transparent;
    }

    &:focus {
      &:not([readonly]) {
        border: 2px solid get-color("blue-500");
        & ~ label {
          color: get-color("blue-500");
          &:not(.error) {
            transform: translate3d(0, -95%, 0);
            background: get-color("white");
            padding-right: 5px;
            padding-left: 5px;
            margin-top: 0px;
            font-size: 12px;
            left: 8px;
            z-index: 1;
          }
        }
      }
    }

    & ~ label {
      &.active {
        &:not(.error) {
          transform: translate3d(0, -95%, 0);
          background: get-color("white");
          padding-right: 5px;
          padding-left: 5px;
          margin-top: 0px;
          font-size: 12px;
          left: 8px;
          z-index: 1;
        }
      }
    }

    &.valid {
      &:focus {
        &:not([readonly]) {
          border: 2px solid get-color("blue-500");
          & ~ label {
            color: get-color("blue-500");
          }
        }
      }
      &:not([readonly]) {
        border: 1px solid get-color("gray-900");
        & ~ label {
          color: get-color("gray-900");
        }
      }
    }

    &.error {
      &:focus {
        &:not([readonly]) {
          border: 2px solid get-color("red-500");
          & ~ label {
            color: get-color("red-500");
          }
        }
      }
      &:not([readonly]) {
        border: 2px solid get-color("red-500");
      }
      & ~ label {
        color: get-color("red-500");
      }
    }
  }

  label {
    &.label-outline {
      font-size: 14px;
      position: absolute;
      margin-top: 5px;
      top: 8.2px;
      left: 0;
      line-height: normal;
      padding-left: 12.5px;
      transition: 0.2s ease-out;
      cursor: text;
      color: get-color("gray-500");
      z-index: 0;

      .disabled {
        pointer-events: none;
      }
    }

    &.error {
      font-size: 14px;
      margin-bottom: 0px;
      line-height: 12px;
    }
  }

  .form-control {
    font-size: 14px;
    color: get-color("gray-900");
  }

  .dynamic-error {
    padding-left: 12px;
    font-size: 14px !important;
    color: get-color("red-500");
    font-weight: bold;
  }
}


//Material-ui overwrites

// https://material-ui.com/api/input-label/

// .MuiInputLabel-root {
//   //This seems to overrite the error state, so maybe better to use the theme
//   &.Mui-focused {
//     @include u-color-text("blue-500");
//   }
// }


.MuiInput-root
{
  @include u-color-border("blue-500");
}

.MuiInputBase-root{
  @include u-radius("md")
}


.MuiFormHelperText-root
{
  @include u-margin-left("sm");
  @include cds-u-font-line-height('sm');
  &.Mui-error
  {
    @include cds-u-font-weight("bold");
  }
}

// .MuiOutlinedInput-root {
//   fieldset {
//     @include u-color-border("blue-500");
//   }
//   &:hover fieldset {
//     border-color: yellow; 
//   }
//   &.Mui-focused fieldset {
//     @include u-color-border("blue-500");
//   }
// }

.outlined__link-text
{
  @include u-padding-top("xsm");
  @include u-margin-left("sm");
  @include cds-u-typeset("t7");
  letter-spacing: 0.03333em; //this is not in our styles

}


//Dropdown

.MuiSelect-icon
{
  width: 21px;
  height: 12px;
  overflow: visible;
  @include u-color-text("blue-500");
  right:12px; //need to update
  // padding-right: 10px;
}

.MuiInputLabel-outlined
{
  transform: translate(12px, 12px) scale(1)
  // transform: translate(12px, 10px) scale(1)
}

.MuiSvgIcon-root
{
  font-size:initial;
}
.MuiOutlinedInput-input 
{
  padding-left: 12px;
}

.MuiSelect-outlined{
  padding: 10.5px 12px;
  @include cds-u-font-line-height("md");
  @include cds-u-font-size("5");
}
