//Need to move this back to _tools.scss later

@mixin u-button-tokens-variant($token-map,$variant) {
  color: get-deepest-token($token-map, "buttons", "color", "text", $variant);
  background-color: get-deepest-token($token-map, "buttons", "color", "background", $variant, "default");
  //TODO: Remove the "px"
  @if (get-deepest-token($token-map, "buttons", "size", "border-width", $variant) == 0px)
  {
    border: none;
  } @else {
    border: get-deepest-token($token-map, "buttons", "size", "border-width", $variant) solid;
  }
 
  &:hover {
    background-color: get-deepest-token($token-map, "buttons", "color", "background", $variant, "hover");
  }
  &:focus {
    background-color: get-deepest-token($token-map, "buttons", "color", "background", $variant, "focus");
  }

  a {
    color: get-deepest-token($token-map, "buttons", "color", "text", $variant);
  }
}

//Button Mixins

@mixin u-button-tokens($token-map) 
{
  cursor: pointer;
  font-style:normal;
  vertical-align: middle;
  text-decoration: none;
  height: map-get-deep($token-map, "buttons", "size","height");
  width: map-get-deep($token-map, "buttons", "size","width"); //TODO: FIX width PX
  font-size: map-get-deep($token-map,"buttons","font","size"); //TODO: need to fix deepest to work with this
  border-radius: map-get-deep($token-map,"buttons","radius");   //TODO: need to fix deepest to work with this
}

//TODO
// Add padding it icon

.btn {
  @include u-button-tokens($cds-tokens);

  &--primary {
    @include u-button-tokens-variant($cds-tokens, primary);
  }

  &--primary-alternate {
    @include u-button-tokens-variant($cds-tokens, primary-alternate);
  }

  &--secondary {
    @include u-button-tokens-variant($cds-tokens, secondary);
  }

  &--outline-primary {
    @include u-button-tokens-variant($cds-tokens, outline-primary);
  }
}