//Typography Functions

@function get-font-size($font-size)
{
  @return map-get-deep($cds-tokens,"font","size", #{$font-size});
};

//TODO Add option to return multiple instead of pixel

@function get-font-line-height($line-height)
{
  @return map-get-deep($cds-tokens,"font","line-height", #{$line-height});
};

@function get-font-weight($weight)
{
  @return map-get-deep($cds-tokens,"font","weight", #{$weight});
};


//Typography Mixins

@mixin cds-u-font-size($font-size, $important: false) {
  @if $important == true {
    font-size: get-font-size($font-size) !important;
  } @else {
    font-size: get-font-size($font-size);
  }
}

@mixin cds-u-font-weight($weight) {
  font-weight: get-font-weight($weight);
}

@mixin cds-u-font-line-height($line-height, $important: false) {
  @if $important == true{
	line-height: get-font-line-height($line-height) !important;
  } @else {
	line-height: get-font-line-height($line-height);
  }	
}

@mixin cds-u-typeset($type) {
  font-size: get-deepest-token(
    $cds-tokens,
    "type",
    "font",
    "size",
    "#{$type}-mobile"
  );
  line-height: get-deepest-token(
    $cds-tokens,
    "type",
    "font",
    "line-height",
    "#{$type}-mobile"
  );
  @include cds-u-mq-min-lg
  {
    font-size: get-deepest-token(
      $cds-tokens,
      "type",
      "font",
      "size",
      "#{$type}-desktop"
    );
    line-height: get-deepest-token(
      $cds-tokens,
      "type",
      "font",
      "line-height",
      "#{$type}-desktop"
    );
  }
}

//Helper classes

//Font size only

.cds-font-size-1 {
  @include cds-u-font-size(1, true);
}

.cds-font-size-2 {
  @include cds-u-font-size(2, true);
}

.cds-font-size-3 {
  @include cds-u-font-size(3, true);
}

.cds-font-size-4 {
  @include cds-u-font-size(4, true);
}

.cds-font-size-5 {
  @include cds-u-font-size(5, true);
}

.cds-font-size-6 {
  @include cds-u-font-size(6, true);
}

.cds-font-size-7 {
  @include cds-u-font-size(7, true);
}

//Line height only

.cds-line-height-xl
{
	@include cds-u-font-line-height("xl", true)
}

.cds-line-height-lg
{
	@include cds-u-font-line-height("lg", true)
}

.cds-line-height-md
{
	@include cds-u-font-line-height("md", true)
}

.cds-line-height-sm
{
	@include cds-u-font-line-height("sm", true )
}

//Font Size and line-height
.cds-t1 {
  @include cds-u-typeset("t1");
}

.cds-t2 {
  @include cds-u-typeset("t2");
}

.cds-t3 {
  @include cds-u-typeset("t3");
}

.cds-t4 {
  @include cds-u-typeset("t4");
}

.cds-t5 {
  @include cds-u-typeset("t5");
}

.cds-t6 {
  @include cds-u-typeset("t6");
}

.cds-t7 {
  @include cds-u-typeset("t7");
}

.cds-body-copy {
  @include cds-u-typeset("body-copy");
}

.cds-u-font-bold {
  @include cds-u-font-weight("bold");
}

.cds-u-font-default {
  @include cds-u-font-weight("default");
}
